# Logs
logs
*.log

# JetBrains
.idea

# VS Code
.vscode
*.code-workspace
.history

# Dependency trees
yarn.lock
package-lock.json

# Dependency directory
node_modules

# Other
.DS_STORE
.eslintcache
*.swp
*~
